body{
    margin: 0px;
}

.topbarContainer{
    height: 50px;
    width: 100%;
    background-color: #7779f2;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
}

.topbarLeft{
    flex: 3;
}

.logo{
    font-size: 24px;
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
    color: white;
}

.topbarCenter{
    flex: 5;
}

.searchBar{
    background-color: white;
    border-radius: 15px;
    display: flex;
    align-items: center;
    height: 30px;
    width: 100%;
}

.searchIcon{
    margin-left: 10px;
    font-size: 20px !important;
}

.searchInput{
    border: none;
    width: 70%;
}

.searchInput:focus{
    outline: none;
}

.topbarRight{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.topbarLink{
    margin-right: 15px;
    font-size: 15px;
    cursor: pointer;
    color: white;
}

.topbarIcons{
    display: flex;
}

.topbarIconItem{
    margin-right: 15px;
    cursor: pointer;
    position: relative;
    color: white;
}

.topbarIconBadge{
    width: 13px;
    height: 13px;
    background-color: red;
    color: white;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.topbarImage{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}